@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoeuithis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoeuithibd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoeuithisi.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoeuithisz.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'Segoe UI', sans-serif;
  padding: 0 3vw; /* Padding por defecto en móviles */
}

/* body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 text-rendering: optimizeLegibility; 
   
} */
/* img {
  object-fit: contain;
  overflow: hidden;
 
} */

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px en lugar de 16px */
}
a {
  color: inherit;
  text-decoration: none;
}
/* 
#282F3C
#FBC600
#050C1F
#1519FA
#E5E5E5
#C9C9CA
#939393
#3F3F47
#363636
#262626
*/
